/*******************************
         Site Overrides
*******************************/
.ui.label {
  background-color: #2e2e2e;
}

a.ui.labels .label:hover,
a.ui.label:hover {
  background-color: #303030;
}
