.ui.card.chat {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: white;

  max-height: 500px;
  overflow-y: auto;

  width: 580px;

  @media (max-width: 700px) {
    width: 85%;
  }
}

.chat-feed {
  cursor: pointer;
}

.ui.comments .reply.form .chat-textarea textarea {
  height: auto;
}

.ui.label.chat-label-icon:first-child {
  margin-right: 10px;
}

.chat .remove-user-button {
  color: red;
}