.ui.card.chat {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: white;
    width: 580px;

    @media (max-width: 700px) {
        width: 85%;
    }
}

.chat-common {
    display: flex;
    width: 100%;
}

.summary-header {
    display:flex;
    justify-content: space-between;
}

.summary-name {
    display:flex;
    align-self: flex-start;
    white-space: nowrap;
}

.summary-date {
    font-weight: 100;
    font-size: 10px;
}


.ui.card > .content > .header + .description {
    max-height: 500px;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;  
}

.ui.feed > .event > .label + .content {
    margin: 0;
}

.chat-feed {
    cursor: pointer;
    width: 100%;
    max-height: 480px;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 0 1em 0 1em;
}

.user-chat {
    cursor: pointer;
    max-height: 480px;
    width: 150%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 0 0 1em;

    height: 358px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column-reverse;
    overflow-anchor: auto !important;
}

.chat-reply {
    position: absolute;
    bottom: 10px;
    width: 50%;
}

.chat-feed:hover {
    overflow-y: auto;
}

.ui.comments .reply.form .chat-textarea textarea {
    height: auto;
}

.ui.label.chat-label-icon:first-child {
    margin-right: 10px;
}

.chat .remove-user-button {
    color: red;
}

.dark {
    .ui.card.chat {
        background: #343434;
    }

    .ui.cards > .card,
    .ui.card {
        box-shadow: 0px 1px 3px 0px #101010, 0px 0px 0px 1px #101010;
    }

    .ui.feed > .event > .label .icon {
        color: rgb(255 255 255 / 66%);
    }

    .ui.primary.buttons .button,
    .ui.primary.button {
        background-color: #1c1c1c;
        padding-top: 11px;
        padding-bottom: 11px;
    }

    .ui.primary.buttons .button:hover,
    .ui.primary.button:hover,
    .ui.primary.buttons .button:active,
    .ui.primary.button:active {
        background: #2a2a2a;
        box-shadow: 0px 0px 0px 1px #2a2a2a inset;
        color: #d3d3d3;
    }
}
