.lazy-load-img.blured {
    filter: blur(8px);
    -webkit-filter: blur(8px);
    transition: all 0.2s ease-in-out;
}

.lazy-load-img.blured:hover {
    filter: blur(0px);
    -webkit-filter: blur(0px);
}
