.dark {
    .ui.basic.green.buttons .button:hover,
    .ui.basic.green.button:hover,
    .ui.basic.green.button:focus {
      background: #2a2a2a !important;
      box-shadow: 0px 0px 0px 1px #2a2a2a inset !important;
      color: #d3d3d3 !important;
    }
}


@media screen and (max-width: 1200px) {
  .online-stats-column {
    font-size: 10px;
  }
}

@media screen and (max-width: 991px) {
  .ui.grid > [class*="three wide"].column.online-stats-column {
    order: -1;
    width: 100% !important;
  }

  .ui.grid > [class*="ten wide"].column.game-list-column {
    width: 81.2% !important;
  }

  .online-stats-column {
    font-size: 14px;
  }

  .ui.form .fields.order-filter {
    flex-direction: column;
    button {
      margin: 0 7px;
    }
  }

  .ui.form .fields .field.order-filter-select {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  .players-filter {
    margin-top: 15px;
  }
}
