$opacity: 20%;
$red: #fd0400;
$blue: #0142ff;
$teal: #17bf99;
$purple: #540081;
$yellow: #bbb805;
$orange: #fd8b10;
$green: #20bf00;
$pink: #e45baf;
$gray: #939796;
$light-blue: #7dbff1;
$dark-green: #126049;
$brown: #4f2a04;
$maroon: #9b0000;
$navy: #0001c4;
$turquoise: #00eaff;
$violet: #be00fe;
$wheat: #bfa670;
$peach: #f8a48a;
$mint: #97c167;
$leavender: #deb7ee;
$coal: #282828;
$snow: #bfc3d1;
$emerald: #00781e;
$peanut: #a56f33;

/* DARK THEME */
$d_blue: #2b61ff;
$d_purple: #a505fb;
$d_brown: #85592d;
$d_dark-green: #177a5d;
$d_maroon: #bf1e1e;
$d_navy: #5253c1;
$d_coal: #000000;
$d_emerald: #029527;

.ui.list .list > a.item.player-name,
.ui.list > a.item.player-name {
  padding: 3px;
  border-radius: 4px;

  &.red {
    color: $red;
    background: rgba($red, $opacity);
  }

  &.blue {
    color: $blue;
    background: rgba($blue, $opacity);
  }

  &.teal {
    color: $teal;
    background: rgba($teal, $opacity);
  }

  &.purple {
    color: $purple;
    background: rgba($purple, $opacity);
  }

  &.yellow {
    color: $yellow;
    background: rgba($yellow, $opacity);
  }

  &.orange {
    color: $orange;
    background: rgba($orange, $opacity);
  }

  &.green {
    color: $green;
    background: rgba($green, $opacity);
  }

  &.pink {
    color: $pink;
    background: rgba($pink, $opacity);
  }

  &.gray {
    color: $gray;
    background: rgba($gray, $opacity);
  }

  &.light-blue {
    color: $light-blue;
    background: rgba($light-blue, $opacity);
  }

  &.dark-green {
    color: $dark-green;
    background: rgba($dark-green, $opacity);
  }

  &.brown {
    color: $brown;
    background: rgba($brown, $opacity);
  }

  &.maroon {
    color: $maroon;
    background: rgba($maroon, $opacity);
  }

  &.navy {
    color: $navy;
    background: rgba($navy, $opacity);
  }

  &.turquoise {
    color: $turquoise;
    background: rgba($turquoise, $opacity);
  }

  &.violet {
    color: $violet;
    background: rgba($violet, $opacity);
  }

  &.violet {
    color: $violet;
    background: rgba($violet, $opacity);
  }

  &.wheat {
    color: $wheat;
    background: rgba($wheat, $opacity);
  }

  &.peach {
    color: $peach;
    background: rgba($peach, $opacity);
  }

  &.mint {
    color: $mint;
    background: rgba($mint, $opacity);
  }

  &.leavender {
    color: $leavender;
    background: rgba($leavender, $opacity);
  }

  &.coal {
    color: $coal;
    background: rgba($coal, $opacity);
  }

  &.snow {
    color: $snow;
    background: rgba($snow, $opacity);
  }

  &.emerald {
    color: $emerald;
    background: rgba($emerald, $opacity);
  }

  &.peanut {
    color: $peanut;
    background: rgba($peanut, $opacity);
  }
}

.ui.horizontal.list > .item.player-name:first-child,
.ui.horizontal.list > .item.player-name:last-child {
  padding-top: 3px;
  padding-bottom: 3px;
}

.dark {
  .ui.list .list > a.item.player-name,
  .ui.list > a.item.player-name {
    &.blue {
      color: $d_blue;
      background: rgba($d_blue, $opacity);
    }

    &.purple {
      color: $d_purple;
      background: rgba($d_purple, $opacity);
    }

    &.brown {
      color: $d_brown;
      background: rgba($d_brown, $opacity);
    }

    &.dark-green {
      color: $d_dark-green;
      background: rgba($d_dark-green, $opacity);
    }

    &.maroon {
      color: $d_maroon;
      background: rgba($d_maroon, $opacity);
    }

    &.navy {
      color: $d_navy;
      background: rgba($d_navy, $opacity);
    }

    &.coal {
      color: $d_coal;
      background: rgba($d_coal, $opacity);
    }

    &.emerald {
      color: $d_emerald;
      background: rgba($d_emerald, $opacity);
    }
  }
}
