@media only screen and (min-width: 1450px) {
  .ui.container.map-list-page {
    width: 1400px;
  }
}

.player-stats {
  display: flex !important;
  flex-direction: row-reverse !important;

  .label.centred {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
