.container.not-found {
    height: "90vh";
}

.container.not-found > div.centerd {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
}
