/*******************************
         Site Overrides
*******************************/
.ui.modal {
  background: #101010;
}

.ui.modal > .header {
  background: #101010;
  color: #adadad;
}

.ui.modal > .content {
  background: #282828;
}

.drag-and-drop-field {
  background: #2a2a2a;
}