/*******************************
     User Global Variables
*******************************/
$pageBackground: #1c1c1c;

$white: #dfdfdf;
$black: #1c1c1c;
$darkest: #101010;
$inputTextColor: #a8a8a8;
$textColor: rgb(218, 218, 218);

$borderColor: #4b4b4b50;
$internalBorderColor: rgba(148, 148, 148, 0.233);

/*-------------------
    Emotive Colors
--------------------*/

/* Positive */
$positiveColor: $green;
$positiveBackgroundColor: #9eb1a1;
$positiveBorderColor: #a3c293;
$positiveHeaderColor: #1a531b;
$positiveTextColor: #2c662d;

/* Negative */
$negativeColor: $red;
$negativeBackgroundColor: #303030;
$negativeBorderColor: #e0b4b4;
$negativeHeaderColor: #912d2b;
$negativeTextColor: #9f3a38;

/* Info */
$infoColor: #31ccec;
$infoBackgroundColor: #2c4747;
$infoBorderColor: #a9d5de;
$infoHeaderColor: #0e566c;
$infoTextColor: #276f86;

/* Warning */
$warningColor: #f2c037;
$warningBackgroundColor: #ab9c7c;
$warningBorderColor: #c9ba9b;
$warningHeaderColor: #794b02;
$warningTextColor: #573a08;

/* Error */
$errorBackgroundColor: $negativeBackgroundColor;
$errorColor: $negativeColor;
$errorBorderColor: $negativeBorderColor;
$errorHeaderColor: $negativeHeaderColor;
$errorTextColor: $negativeTextColor;

/*-------------------
     Neutral Text
--------------------*/

$darkTextColor: rgba(255, 255, 255, 0.9);
$mutedTextColor: rgba(255, 255, 255, 0.8);
$lightTextColor: rgba(255, 255, 255, 0.7);

$unselectedTextColor: rgba(255, 255, 255, 0.5);
$hoveredTextColor: rgba(255, 255, 255, 1);
$pressedTextColor: rgba(255, 255, 255, 1);
$selectedTextColor: rgba(255, 255, 255, 1);
$disabledTextColor: rgba(255, 255, 255, 0.2);

$invertedMutedTextColor: rgba(255, 255, 255, 1);
$invertedLightTextColor: rgba(255, 255, 255, 1);

$invertedUnselectedTextColor: rgba(255, 255, 255, 1);
$invertedHoveredTextColor: rgba(255, 255, 255, 1);
$invertedPressedTextColor: rgba(255, 255, 255, 1);
$invertedSelectedTextColor: rgba(255, 255, 255, 1);
$invertedDisabledTextColor: rgba(255, 255, 255, 0.2);

$inputBackground: $darkest;
$inputColor: #fff;
