/*******************************
    User Variable Overrides
*******************************/

$dropdownBackground: #666666;
$tabularActiveBackground: #101010;
$tabularBorderColor: #444;
$tabularActiveColor: #adadad;
$tabularTextColor: #adadad;