.drag-and-drop-field {
    position: absolute;
    background: #ffffff99;

    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    font-size: 25px;

    text-align: center;
    padding: 100px;
    box-sizing: border-box;

    z-index: 10;

    border: 4px #1b1c1d dashed;
}
