.ui.menu.desktop-menu,
.ui.menu.mobile-menu {
    min-height: 40px;
}

.ui.menu.mobile-menu {
    font-size: inherit;
}

.ui.menu.desktop-menu .item,
.ui.menu.desktop-menu .menu {
    height: 40px;
    .ui.toggle.checkbox {
        min-height: initial;
    }
}

.ui.dropdown  {
    & > .dropdown.icon {
        line-height: 1.2;
    }
}

.menu {
    .ui.toggle.checkbox{
        min-height: initial;
    }
}

.ui.menu .right.item::before, 
.ui.menu .right.menu > .item::before {
    right: 0;
    left: auto;
}

.theme-switcher {
    .ui i {
        float: left;
        margin-top: 1px;
    }
    
}

.ui.menu div.item > i.dropdown.icon {
    margin: 0.2em 0em 0em 1em;
}

.mobile-menu-list {
    display: none;
    background: #fff;
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 44px;
    font-weight: 400;
    border: 1px solid rgba(34,36,38,.15);
    box-shadow: 0 1px 2px 0 #22242626;
    border-radius: 0.28571429rem;
    top: 45px;
    left: 0;

    &.active {
        display: block;
    }
}

.ui.menu.mobile-menu {
    .icon.item > .icon.no-icon {
        display: none;
    }
}

.ui.menu.mobile-menu {
    margin: 0.5rem;
    position: relative;

    &:first-child {
        margin-top: 0.5rem;
    }
}

.user-profile-dropdown {
    margin-left: auto;
}