.dark {
  .slider {
    .thumb {
      background: rgb(16, 16, 16);
      padding: 3px 7px;
      border-radius: 4px;
      border: 1px solid #2c2c2c;
      color: white;

      &:hover {
        background: #2a2a2a;
        border: 1px solid #878787;
        cursor: pointer;
      }
    }

    .track {
      background: #aaa;
    }
  }
}

.slider {
  [type="radio"] {
    position: relative;
    top: 1px;
    margin-right: 5px;
  }

  position: relative;
  min-height: 20px;

  display: flex;
  align-items: center;

  .thumb {
    background: rgb(255 255 255);
    padding: 3px 7px;
    border-radius: 4px;
    border: 1px solid #e8e9e9;
    color: black;

    &:hover {
      background: #f9fafb;
      border: 1px solid #d5d5d5;
      cursor: pointer;
    }
  }

  .track.track-1 {
    background: #1c6826;
  }

  .track {
    height: 10%;
    background: #ddd;
  }
}

@media screen and (max-width: 1450px) {
  .slider {
    .ui.basic.buttons .button,
    .ui.basic.button {
      padding: 8px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .slider {
    .ui.basic.buttons .button,
    .ui.basic.button {
      padding: 5px;
      font-size: 11px;
    }
  }
}

@media screen and (max-width: 991px) {
  .slider {
    .ui.basic.buttons .button,
    .ui.basic.button {
      padding: 7px 3px;
    }
  }
}

@media screen and (max-width: 767px) {
  .slider {
    .ui.basic.buttons .button,
    .ui.basic.button {
      padding: 10px 10px;
      font-size: 14px;
    }
  }
}
