/*******************************
         Theme Overrides
*******************************/
@media screen and (max-width: 768px) {
  .ui.message,
  .ui.message:last-child {
    margin-bottom: 15px;
  }
}

.ui.message.fluid {
  width: 100%;
}
