.burger-button {
  cursor: pointer;
}

.mobile-menu {
  .mobile-menu-pushable { 
    background-color: rgba(0,0,0,.4);
    z-index: 1;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    will-change: opacity;

    &.active {
      position: fixed;
      top: 43px;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 1;
    }
  }
}

.burger-mobile-menu {
  position: absolute;
  top: 43px;
  left: -9999px;
  z-index: 2;
  background-color: inherit;
  width: 100%;
  transition: all 0.2s ease-out;

  &.active {
    left: 0;
  }
}