html.dark {
    color-scheme: dark;

    --muted-text-color: rgba(255, 255, 255, 0.7);

    body {
        background-color: #1c1c1c;
        color: #dadada;
    }
}

html.light {
    --muted-text-color: rgba(0, 0, 0, 0.6);

    body {
        background-color: #fff;
        color: rgba(0, 0, 0, 0.87);
    }
}

body {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}
